- content_for(:secondary_navigation) do
  - if @company
    = render 'admin/companies/nav'
  / - else
  /   = render 'nav'

- if @company
  = render 'admin/companies/title'
  .clear
  %h2 Edit Service Reminder
- else
  / = render 'title'
  %h1 Edit Reminder

= render 'form'

%hr
=link_to 'Delete Service Reminder', [:admin, :service_reminder], :confirm => 'Delete this service reminder?', :method => :delete