- if @company
  - content_for(:secondary_navigation) do
    = render 'admin/companies/nav'

  = render 'admin/companies/title'
  .clear
  %h2 New Reminder
- else
  / = service_reminder_navigation_helper
  / = service_reminder_title_helper('New Reminder')
  %h1 New Reminder
= render 'form'
