// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('helvetica, arial, sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #111111;

$link-color: #3C3C3D;

// $link-hover-color: #2D7DC5;
$link-hover-color: #C52D2D;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #7fa6bf;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol