.form {
  .group { margin-bottom: 15px; }

  label.label {
    display: block;
    font-weight: normal;
    color: #666;
    padding-bottom: 2px;
  }

  label.right { text-align: right; }

  label.label, input.text_field, textarea.text_area {
    @include font-size(14px);
    padding: 1px 0;
    margin: 0;
  }

  input.text_field, textarea.text_area {
    width: 100%;
    border: 1px solid #DDD;
    @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1));
  }

}

.buttons {
  button { float: left; margin-right: 5px; }
  .or-cancel { float:left; line-height: 26px; }
}

button, input, select, textarea { font-family:helvetica, arial, sans-serif; }

.login div.left, .signup div div.left {
  width: 21%;
  float: left;
}

.login div.right, .signup div div.right {
  width: 74%;
  float: right;
}

#login_register {
  text-align:center;
  padding-bottom:5px;
}

.search, .search_date {
  border: 1px solid #C1C1C1;
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.25));
  @include border-radius(13px);
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  float: right;
  width: 300px;
  height: 25px;
}

.search_date {
  width: 100px;
  margin-right: 10px;
}

.clear-search {
  border: 0px;
  background: transparent url("../images/clear.png") no-repeat center left;
  position: absolute;
  left: 278px;
  height: 16px;
  width: 16px;
  margin-top: 5px;
  cursor: pointer;
  @include border-top-right-radius(13px);
  @include border-bottom-right-radius(13px);
}

.searching {
  background: transparent url("../images/spinner.gif") no-repeat center left;
}

.search_box {
  font-family:helvetica, arial, sans-serif;
  border: 0px;
  background-color: transparent;
  position: absolute;
  left: 0px;
  width: 266px;
  height: 25px;
  padding-left: 10px;
  @include border-top-left-radius(13px);
  @include border-bottom-left-radius(13px);
  outline: none;
}

.watermark_container { height: 25px; width: 273px; }
.search-dates .watermark_container { width: 100px; }

.table th .asc {
  padding-right: 12px;
  background: url("../images/up_arrow.gif") no-repeat right center;
}

.table th .desc {
  padding-right: 12px;
  background: url("../images/up_arrow.gif") no-repeat right center;
  background-image: url("../images/down_arrow.gif");
}


input,
textarea,
select {
  padding: 3px;
  font-size: 15px;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottombottom, from(#ffffff), to(#f3f3f3));
  background: -moz-linear-gradient(top,  #ffffff,  #f3f3f3);
  @include border-radius(2px);
  border: 1px solid #717171;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow:  1px 1px 0px #efefef;
}

input:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0px 0px 5px #007eff;
  -moz-box-shadow: 0px 0px 5px #007eff;
  box-shadow: 0px 0px 5px #007eff;
}

#index_add_customer_holder {
  margin:40px 0;
  text-align:center;
}

a#index_add_customer {
  font-size:30px;
  padding:30px 40px;
  text-decoration:none;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottombottom, from(#ffffff), to(#f3f3f3));
  background: -moz-linear-gradient(top,  #ffffff,  #f3f3f3);
  @include border-radius(2px);
  border: 1px solid #717171;
  -webkit-box-shadow: 1px 1px 0px #efefef;
  -moz-box-shadow: 1px 1px 0px #efefef;
  box-shadow:  1px 1px 0px #efefef;
}

a#index_add_customer:hover {
  -webkit-box-shadow: 0px 0px 5px #59051A;
  -moz-box-shadow: 0px 0px 5px #59051A;
  box-shadow: 0px 0px 5px #59051A;
}



select {
  width:193px;
}

option {
  # padding:2px;
}

option:hover,
select:hover {
  /* text-shadow: 0px 1px 0px #333; */
  text-shadow: none;
}
