.clearfix
  %h1.left
    = @company.name
    - if @store
      = " :: "
      - if controller.action_name == 'new'
        %small New Store/Office
      - if controller.action_name == 'edit'
        %small= 'Edit ' + @store.type
      - else
        %small= @store.name