- content_for(:secondary_navigation) do
  = render 'nav'

%h1 Companies

%table.table
  %tr
    %thead
      %th Name
      %th Type
      %th Stores

  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to company.name, admin_company_path(company)
        %td= company.type
        %td= company.stores.count
