h3 {
  margin:20px 0 5px 0;
  font-size:105%;
}

div.textarea {
  padding:5px;
  background:#f3f3f3;
  float:left;
  width:75%;
  min-height:16px;
}

#vehicles_list {
  margin:0px;
  list-style:none;
}

#vehicles_list h2 {
  margin-bottom:10px;
  font-weight:bold;
}

#vehicles_list h2 a {
  margin-top:-5px;
  font-weight:normal;
}

#vehicles_list li {
  margin-bottom:20px;
}