%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Vehicles
      %th Service Reminders

  %tbody
    - @people.each do |person|
      %tr
        %td= link_to highlighter(person, :name), store_person_path(@store, person)
        %td= person.email
        %td
        %td

    - if @people.empty?
      %tr
        %td{ :colspan => 4 } No Customers found.

/ .clearfix
/   = will_paginate @people
/   = sort_tags