- content_for(:secondary_navigation) do
  - if @store
    = render 'company/companies/nav'
  - else
    / = render 'nav'

- if @store
  = render 'company/stores/title'
  %h2 Edit Reminder ( Updates will only affect this store's reminder )
- else
  / = render 'title'
  %h1 Edit Reminder

= render 'form'
- if @service_reminder.can_delete?
  %hr
  =link_to 'Delete Service Reminder', [:company, :service_reminder], :confirm => 'Delete this service reminder?', :method => :delete