/ - content_for(:secondary_navigation) do
/   = render 'nav'
/
%h1.left Reminders
= link_to 'New Service Reminder', new_company_service_reminder_path, :class => 'button positive right'
.clear
%table.table
  %thead
    %tr
      %th Name

  %tbody
    - @service_reminders.each do |service_reminder|
      %tr
        %td= link_to service_reminder.name, edit_company_service_reminder_path(service_reminder)

    - if @service_reminders.empty?
      %tr
        %td{ :colspan => 1 } No Service Reminders found.
